<a href="https://colab.research.google.com/github/aniscahaw4/praktikum3/blob/main/prak6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)

In [ ]:
df = pd.read_csv("../input/cardataset/data.csv")
# To display the top 5 rows
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.dtypes

In [ ]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)
df.head(5)

In [ ]:
df = df.rename(columns={"Engine HP": "HP", "Engine Cylinder", "Transmission Type":"Transmission", "Driven_Wheels": "Drive Mode", "highway MPG": "MPG-H", "city mpg": "MPG-C", "MSR P": "Price" })
df.head(5)

In [ ]:
df.shape

In [ ]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

In [ ]:
df.count()  #Used to count the number of rows

In [ ]:
df = df.drop_duplicates()
df.head(5)

In [ ]:
df.count()

In [ ]:
print(df.isnull().sum())

In [ ]:
df = df.dropna()  #Dropping the missing values
df.count()

In [ ]:
print(df.isnull().sum())  #After dropping the values

In [ ]:
sns.boxplot(x=df['Price'])

In [ ]:
sns.boxplot(x=df['HP'])

In [ ]:
sns.boxplot(x=df['Cylinders'])

In [ ]:
Q1 = df.quantile(0.25)
Q2 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]
df.shape

In [ ]:
df.Make.value_counts().nlargest(40).plot(kind='bar' figsize=(10
plt.title("Number of cars by make")
plt.ylabel('Nomber of cars')
plt.xlabel('Make');

In [ ]:
plt.figure(figsize=(10,5))
c= df.corr()
sns.heatmap(c,cmap="BrBG", annot=True)
c

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.scatter(df['HP'], df['Price'])
ax.set_xlabel('HP')
ax.set_ylabel('Price')
plt.show()